@import '../../../styles.scss';

.flex-row-align-center {
    display: flex;
    align-items: center;
}

.actions-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px; /* Add padding to the actions-bar */
    background-color: $blue-100;
    color: $white;
    font-size: 20px;
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.actions-container {
    cursor: pointer;
    overflow: hidden;
    height: 50px; /* Default height */
    transition: height 0.3s ease;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $blue-100; /* Ensure it has a background color */
    z-index: 1000; /* Ensure it is above other content */
    padding: 0 20px; /* Add padding to the actions-container */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.actions-container.expanded {
    height: auto; /* Height will adjust based on content */
}

.selected-products-list {
    margin-top: 10px;
    padding: 10px 20px; /* Add padding to the selected-products-list */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.product-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.price-container {
    padding-left: 10px; /* Add padding to the price container */
}

.price-text {
    color: $white; /* Same color as the total price */
}