@import './../../styles.scss';

.section {
    height: calc(100% - 12.2em);
    display: block;
    overflow-y: scroll;
}

.section-content {
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
}

.item-card {
    height: 250px;
    width: 450px;
    padding: 2em;
    background-color: $blue-30;

    // required for flex
    gap: 20px;
}

.img-icon {
    width: 100px; 
    height: 100px;
}

.align-text {
    line-height: 2;
}