@import './../../styles.scss';

.section {
    height: calc(100% - 12.2em);
    display: block;
    overflow-y: scroll;
}

.section-content {
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
}

.item-card {
    height: 250px;
    width: 450px;
    padding: 2em;
    background-color: $blue-30;

    // required for flex
    gap: 20px;
}

.img-icon {
    width: 100px; 
    height: 100px;
}

.margin {
    margin-left: 5px;
}

.content-gap {
    gap: 10px;
}

.yellow-btn {
    width: inherit;
    background-color: #dcc477 !important;
}

.green-btn {
    width: inherit;
    background-color: #67b69a !important;
}