@import './../../styles.scss';

.section {
    height: calc(100% - 12.2em);
    display: block;
    overflow-y: scroll;
}

.section-content {
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
}

.item-card {
    height: 250px;
    width: 450px;
    padding: 2em;
    background-color: $blue-30;

    // required for flex
    gap: 20px;
}

.selected-card-border {
    border: 2px solid $green-10;
    box-shadow: 0 0 10px $green-10;
}

.img-icon {
    width: 100px; 
    height: 100px;
}

.margin {
    margin-left: 5px;
}

.content-gap {
    gap: 10px;
}

.action-btn {
    width: 100px; /* Fixed width */
    height: 40px; /* Fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-btn {
    background-color: $yellow-10 !important;
}

.red-btn {
    background-color: $red-10 !important;
}
