<div class="section">
    <app-sub-header headerContent="Add Items"></app-sub-header>
    <div [style.margin]="'2em'" class="flex-row-align-center-wrap section-content">
        @for (product of products; track product) {
            <mat-card class="flex-column-align-center-justify-space-between item-card">
                <div class="flex-row-align-center-justify-space-between">
                    <div>
                        <img src="../../assets/images/ice-cream.png" alt="Ice-Cream" class="img-icon"> 
                    </div>
                    <div class="flex-column-align-start content-gap">
                        <div class="margin" [style.font-weight]="600">
                            {{product.name}}
                        </div>
                        <div class="margin" [style.font-weight]="200">
                            Rs. {{product.price}}/piece
                        </div>
                        <div>
                            <label>
                                <input [name]="product.id" type="radio" [value]="selectedQty" (change)="product.selectedQty = ItemQty.PIECE" [checked]="product.selectedQty === ItemQty.PIECE" [disabled]="product.disable"/>
                                Piece
                            </label>                             
                            <label>
                                <input [name]="product.id" type="radio" (change)="product.selectedQty = ItemQty.BOX" [disabled]="product.disable"/>
                                Box
                            </label>                         
                        </div>
                        <div>
                            @if (product.selectedQty === ItemQty.PIECE) {
                                <app-counter-input [isDisabled]="product.disable"></app-counter-input>
                            }  
                        </div>
                    </div>
                </div>
                <div [style.width]="'100%'">
                    @if (!isProductAdded(product)) {
                        <button mat-flat-button class="yellow-btn" (click)="saveItems(product)">Add</button>
                    }
                    @else {
                        <div class="flex-row-align-center" [style.gap]="'5px'">
                            <button mat-flat-button class="green-btn">Added to Cart</button>
                            <button mat-flat-button class="gray-btn" (click)="enableItems(product)">Remove</button>
                        </div>
                    }
                </div>
            </mat-card>
        }
    </div>
</div>
