@import './../../styles.scss';

.section {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 25px;
    background-color: $blue-10;

    &-header{
        font-size: 20px;
        font-family: cursive;
    }
}

.section-content {
    flex-wrap: wrap;
    gap: 30px;
}